<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />

    <link type="text/css" rel="stylesheet" href="css/app.css" media="screen,projection" />

    <title>My first Vue app, with MaterializeCSS</title>
</head>

<body>

    <div id="demo-intro">

        <div class="row">

            <div class="col s12 m12 l8 xl8">

                <h2>Introduction</h2>

                <!-- <div class="card-panel grey lighten-4"> -->

                    <table>
                        <thead>
                            <tr>
                                <th>Directive</th>
                                <th>Result</th>
                                <th>Placement</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="directive in directives">
                                <td>
                                    <code>{{ directive.code }}</code>
                                </td>
                                <td>{{ directive.result }}</td>
                                <td>{{ directive.placement }}</td>
                            </tr>
                        </tbody>
                    </table>

                <!-- </div> -->

            </div>

            <div class="col s0 m0 l1 xl1"></div>

            <div class="col s12 m12 l3 xl3">

                <h2>{{message }}</h2>

                <div class="input-field">
                    <input placeholder="Input your message" id="message" type="text" v-model="message">
                    <label for="message">Message</label>
                </div>

                <a class="waves-effect waves-light btn" v-on:click="reverseMessage">Reverse</a>

                <p v-bind:class="seenColor">Watch here &rarr;
                    <span v-if="seen">Now you see me</span>
                </p>

                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox" id="toggle-visibility" checked v-on:click="toggleVisibility">
                        <span class="lever"></span>
                        On
                    </label>
                </div>

            </div>

        </div>

    </div>


    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>

    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    </script>


</body>

</html>